 @import "../common/css/common.scss";


 .ef-alert-wrapper{

   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 1000;
   height: 100%;
   width: 100%;
   overflow: auto;


    .inner{

        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%,0);

        background-color: #FFF;
        padding: 32px;
        padding-bottom: 24px;

        border: 0;
        border-radius: 4px;
        box-shadow: 0 4px 12px #25232326;
        pointer-events: auto;
        text-align: left;
        min-width: 400px;

        p{
          margin: 0;
        }

        .body{
          line-height: 1.5;
        }

        .title{

          &.icon-padding{
              padding-left: 10px;
          }

          overflow: hidden;
          color: rgba(0,0,0,.85);
          font-weight: bold;
          font-size: 16px;
          line-height: 1.5;
        }

        .inner-icon-padding{
          padding-left: 40px;
        }

    }


 }

.msgbox-fade-enter-active {
  animation: msgbox-fade-in .3s;
}

.msgbox-fade-leave-active {
  animation: msgbox-fade-out .3s;
}

@keyframes msgbox-fade-in {
  0% {
    transform: translate3d(0, -20px, 0) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes msgbox-fade-out {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;

  }
  100% {
    transform: translate3d(0, -20px, 0) scale(0);
    opacity: 0;
  }
}
