
 @import "../common/css/common.scss";


 $menu-item-padding-left:24px;
 $menu-item-padding-right:34px;
 $text-color:rgba(0,0,0,.65);

 :export {
 	menuItemPaddingLeft:$menu-item-padding-left;
 }

.ef-menu{
      box-sizing: border-box;
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5;
      font-feature-settings: "tnum";
      margin: 0;
      padding: 0;
      color:  $text-color;
      // line-height: 0;
      list-style: none;
      background: #fff;
      outline: none;
      // box-shadow: 0 2px 8px $box-shadow-color;
      transition:background .3s,width .3s cubic-bezier(.2,0,0,1) 0s;
      zoom: 1;
      border-right: 1px solid $border-bottom-color;
      user-select: none;

      .ef-menu-icon{
        position: relative;
        top: 2px;

        i{
            color:  $text-color;
        }

      }


      .ef-sub-menu-open{
        // 由js程序控制style 设置height:0 为了 transition:  height 生效
        height: 0;
      }

      .ef-sub-menu-close{
        height: 0;
        // display: none;
      }

      &.ef-sub-menu{
          padding: 0;
          border: 0;
          border-radius: 0;
          box-shadow: none;
          // padding-left: $menu-item-padding-left;
          transition:  height .45s;
          overflow: hidden;
      }

      .ef-menu-li{
            position: relative;
            display: block;
            margin: 0;
            cursor: pointer;
            transition: color .3s cubic-bezier(.645,.045,.355,1),border-color .3s cubic-bezier(.645,.045,.355,1),background .3s cubic-bezier(.645,.045,.355,1),padding .15s cubic-bezier(.645,.045,.355,1);


            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;

            height: 40px;
            line-height: 40px;
            padding-right: $menu-item-padding-right;
            padding-left:$menu-item-padding-left;
            text-align: left;



            &:not(.ef-menu-sub-li):hover{
              color: $primary-color;
             i{
                color: $primary-color;
              }
            }


            &.ef-menu-sub-li{
              padding: 0;
              height: unset;
              line-height: unset;

            }

            .ef-sub-menu-title{
              padding-left: $menu-item-padding-left;
              padding-right: $menu-item-padding-right;
              height: 40px;
              line-height: 40px;
              position: relative;

              i{
                  color:  $text-color;
              }

              &:hover{
                color: $primary-color;
                i{
                   color: $primary-color;
                 }
              }

              .ef-icon-arrow-wrapper{
                position: absolute;
                top: 50%;
                right: 5px;
                transform: translate(0,-50%);
                line-height: 1;

                .ef-icon-arrow{
                  transition: 0.3s;
                }

                // &.icon-pos{
                //  transform: translate(0,-50%);
                // }

              }

            }


            .ef-menu-li-label{
              margin-left: 5px;
            }

            &::after{
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  border-right: 3px solid $primary-color;
                  transform: scaleY(.0001);
                  opacity: 0;
                  transition: transform .15s cubic-bezier(.215,.61,.355,1),opacity .15s cubic-bezier(.215,.61,.355,1);
                  content: "";
            }


            &.active{
              background: $hover-color;
              color: $primary-color;
              i{
                 color: $primary-color;
               }

               &::after{
                     position: absolute;
                     top: 0;
                     right: 0;
                     bottom: 0;
                     border-right: 3px solid $primary-color;
                     transform: scaleY(1);
                     opacity: 1;
                     transition: transform .15s cubic-bezier(.215,.61,.355,1),opacity .15s cubic-bezier(.215,.61,.355,1);
                     content: "";
               }

            }


      }

}
