@import "../common/css/common.scss";
  .ef-triangle {
    width: 0;
    height: 0;
    display: inline-block;
    border-color: $primary-color;
    border-top-width: 0 !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
  }
